:root {
  --color-calendar-graph-day-L0-bg: #ebedf0;
  --color-calendar-graph-day-L1-bg: #9be9a8;
  --color-calendar-graph-day-L2-bg: #40c463;
  --color-calendar-graph-day-L3-bg: #30a14e;
  --color-calendar-graph-day-L4-bg: #216e39;
}

.container {
  padding: 1rem;

  border-color: lightgray;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  border: 1px solid;
}

.container-grid {
  display: grid;

  grid-template-areas:
    '. month month month month month month month month month month month month month'
    'day content content content content content content content content content content content content content '
    'day content content content content content content content content content content content content content '
    'day content content content content content content content content content content content content content '
    'day content content content content content content content content content content content content content '
    'day content content content content content content content content content content content content content ';

  column-gap: 5px;
  row-gap: 10px;
}

.months {
  grid-area: month;

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  column-gap: 10px;
}

.days {
  grid-area: day;

  display: grid;
  grid-template-rows: repeat(7, 1fr);
}

.content {
  grid-area: content;

  display: grid;
  /* grid-template-columns: repeat(54, minmax(0, 1fr)); */
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
}

.box {
  border-radius: 20%;
  width: 1rem;
  height: 1rem;
  margin: 0.1rem;
}

.l0-contribution {
  background-color: var(--color-calendar-graph-day-L0-bg);
}

.l1-contribution {
  background-color: var(--color-calendar-graph-day-L1-bg);
}

.l2-contribution {
  background-color: var(--color-calendar-graph-day-L2-bg);
}

.l3-contribution {
  background-color: var(--color-calendar-graph-day-L3-bg);
}

.l4-contribution {
  background-color: var(--color-calendar-graph-day-L4-bg);
}
